/*Page specific css*/

body {
	margin: 0;
}

/*intro text*/
#introText {
	width: 57%;
	padding-right: 20px;
	float:left;
}

/*current project*/
#curProj {
	float:right;
	width: 43%;
}

.curProj {
	float:left;
	width: 100%;
	margin-top:20px;
	border:1px solid #aeaeae;
	padding-top: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

/*My Skills*/
#skills {
	float:left;
	width: 57%;
	margin-top: 35px;
}

.html5 {
	list-style-type: none;
	position: absolute;
	left:475px;
	top:390px;
}

.css3 {
	list-style-type: none;
	position: absolute;
	left:285px;
	top:390px;
	color: #ffffff;
}

.javascript {
	list-style-type: none;
	position: absolute;
	left:366px;
	top:675px;
}

.sql {
	list-style-type: none;
	position: absolute;
	left:120px;
}

.php {
	list-style-type: none;
	position: absolute;
	left:120px;
}

canvas {
	margin-left: 60px;
}

/*Biography*/
#bio {
	clear: both;
	width: 100%;
}

.threeCol {
	font-size: 19px;
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}